<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{title}}}</title>
  <style>
    body {
      background-color: #222;
      margin: 0;
      outline: 0;
      padding: 0;
      font-family: sans-serif;
      color: #ddd;
    }

    #container {
      width: 1100px;
      margin: 0px auto;
    }

    .card {
      display: flex;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      background-color: #555
    }

    .card strong {
      display: block;
      padding-right: 15px;
    }

    .method {
      border-radius: 10px;
      padding: 5px;

    }

    .GET {
      background-color: green;
    }

    .POST {
      background-color: red;
    }
  </style>
</head>

<body>
  {{{body}}}
</body>

</html>